.idea/*
.hg/*
bin/*
conf/*
docs/*
eclipse/*
forge/*
jars/*
lib/*
logs/*
out/*
reobf/*
runtime/*
temp/*

src/minecraft/buildcraft
src/minecraft/com
src/minecraft/cpw
src/minecraft/dan200
src/minecraft/ibxm
src/minecraft/ic2
src/minecraft/mods/railcraft
src/minecraft/net
src/minecraft/org
src/minecraft/paulscode
src/minecraft/thermalexpansion
src/minecraft/*.cfg
src/minecraft/*.properties
src/minecraft/*.png
src/minecraft/mcpmod.info
src/minecraft/Start.java

*.bat
*.sh
.hgignore
CHANGELOG
LICENSE.txt
